extends layout

block content
    section.container
      include header
      div.item
        form.form(method="POST" action="/actualizar/#{data[0].movie_id}")
            fieldset 
                div.container.p1
                    label.item.i-b.v-top.ph3.center(for="movie_id") IMDb Id:
                    input.item.i-b.v-top.ph9#id(type="text", name="id", value="#{data[0].movie_id}", required, disabled)
                    input#movie_id(type="hidden", name="movie_id", value="#{data[0].movie_id}", required)
                div.container.p1
                    label.item.i-b.v-top.ph3.center(for="title") Titulo:
                    input.item.i-b.v-top.ph9#title(type="text", name="title", value="#{data[0].title}", required)
                div.container.p1
                    label.item.i-b.v-top.ph3.center(for="release_year") Año:
                    input.item.i-b.v-top.ph9#release_year(type="text", name="release_year", value="#{data[0].release_year}", required)
                div.container.p1
                    label.item.i-b.v-top.ph3.center(for="rating") Rating:
                    input.item.i-b.v-top.ph9#rating(type="text", name="rating", value="#{data[0].rating}", required)
                div.container.p1
                    label.item.i-b.v-top.ph3.center(for="image_movie") Poster:
                    input.item.i-b.v-top.ph9#image_movie(type="text", name="image_movie", value="#{data[0].image_movie}",required)
                div.container.p1
                    input.item.ph6.mauto.button.add(type="submit" value="Agregar")